@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Open Sans', sans-serif;
}

.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}

.font-open-sans {
  font-family: 'Open Sans', sans-serif;
}

.main-img {
  background: url(/main-img.jpg) no-repeat left center;
  background-size: cover;
  min-height: 100%;
}

@media screen and (max-width: 768px) {
  .main-img {
    min-height: 50%;
  }
}
